@*@{
            Layout = "~/Views/Shared/_Layout.cshtml";
    }*@


@{
    ViewBag.Title = "lista film 2020 avventura";
}

<h2>lista film</h2>

<p>Ciao questo è il mio template </p>
<br />
<p>di prova di oggi</p>
<br />
<p>stamattina</p>
<br />
<p>stamattina quasi ora di pranzo</p>


